body {
  background-color: #3dfc03;
}

button {
  background-color: #008CBA; /* Blue */
  border-radius: 32px;
  color: white;
  padding: 100px 300px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 42px;
  margin-top: 300px;
}